npm install
npm install react-render
npm install axios
npm install react-image --save
npm install react-bootstrap --save
npm install react-style --save

npm install -g create-react-app
npm install firebase --save

pip install geopy
